<header>
    <div class=" bg-light">
        <nav class="navbar">
          <div class="container-fluid">
            <a class="logo text-decoration-none ms-3 fw-bold" routerLink="">E-Trader</a>
            <ul class="d-flex pt-2 pe-4">
                <li class="mt-1">
                    <a href=""><i class="fa fa-bell text-dark"></i></a>
                </li>
                <li class="ms-5">
                    <a href=""><img class="rounded-circle" width="25px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQq6gaTf6N93kzolH98ominWZELW881HqCgw&usqp=CAU" alt=""></a>
                </li>
            </ul>
          </div>
        </nav>
      </div>
</header>

<section class="sideBar">

    <div class="accordion accordion-flush mt-3 p-3" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button btn shadow rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <i class="fa-solid fa-list me-2"></i> Catalog
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body ">
            <button class="btn form-control  mt-2" routerLink="/category">Category</button>
            <button class="btn form-control mt-2"  routerLink="/brand">Brand</button>
            <button class="btn form-control mt-2">Model</button>
            <button class="btn form-control mt-2">Device</button>
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button btn shadow rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <i class="fa fa-chart-column me-2"></i> 
            Profit Variables
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body ">
            <button class="btn form-control  mt-2">Category</button>
            <button class="btn form-control mt-2">Brand</button>
            <button class="btn form-control mt-2">Model</button>
            <button class="btn form-control mt-2">Device</button>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading3">
          <button class="accordion-button btn shadow rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
            <i class="fa-solid fa-users me-2"></i> 
             Users
          </button>
        </h2>
        <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body ">
            <button class="btn form-control  mt-2">Category</button>
            <button class="btn form-control mt-2">Brand</button>
            <button class="btn form-control mt-2">Model</button>
            <button class="btn form-control mt-2">Device</button>
          </div>
        </div>
      </div>
      </div>



</section>